.App {
  text-align: center;
}

* {
  font-family: 'Inconsolata', monospace;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
  cursor: pointer;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: gray;
}

.App-title {
  font-size: 1em;
  text-transform: uppercase;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h3 {
  color: #484848;
  font-size: 18px;
  text-transform: uppercase; 
}

h3 a {
  color: #484848;
}

h3 a:hover {
  text-decoration: underline;
  color: #ff9bd6;
}

.Images {
  width: 960px;
  margin: auto;
  border-radius: 2px;
  padding: 5%;
}
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Images {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
  }
} 

.Footer {
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  padding: 5%;
}

.Wiggly {
  max-width: 15%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 10px solid white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}

.Wiggly:hover {
  transform: rotate(3deg);
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .Wiggly {
      max-width: 40%;
      padding: 10px;
      border-radius: 2px;
    }
  } 